.header__container {
   padding: 25px 15px 15px;
}

// Index Header
.index-header__title {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 600;
   color: #333;
}

#search-form {
   position: relative;
   margin-bottom: 15px;
   .search-icon {
      position: absolute;
      top: 10px;
      left: 12px;
   }
}

.form__input {
   padding: 10px 30px 10px 40px;
   outline: none;
   font-size: 15px;
   color: #333;
   background: #eee;
   border-radius: 5px;
   border: none;
   &::placeholder {
      color: #333;
   }
}

.filter__container {
   display: flex;
   padding: 20px 0;
   max-width: 300px;
   justify-content: space-evenly;
   button {
      flex: 1;
      margin: 0 7px;
      padding: 7px 12px;
      font-size: 13px;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 15px;
      background: #afafaf;
      cursor: pointer;
      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
   }
   .icon {
      margin-left: 3px;
   }
   .filter__all {
      min-width: 50px;
   }
   .filter__location {
      background: #9eca4d;
   }
   .filter__position {
      background: #e17bda;
   }
}

.location-input {
   label {
      display: block;
      font-size: 15px;
      font-weight: 600;
      margin: 15px 0;
   }
   input {
      padding: 10px 30px 10px 20px;
   }
}

// Post Listing
.post-listing {
   padding: 0 15px 15px;
}

.post__item {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   margin: 10px;
   max-width: 500px;
   border-radius: 5px;
   border: 1px solid #eee;
   background: #fff;
   opacity: 0;
   animation: fadeIn 0.2s ease-in both;
   box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.25);
   &:hover {
      background: paleturquoise;
   }
}

.post__item--img {
   flex: 1;
   max-width: 100px;
   img {
      width: 100%;
   }
}

.post__content {
   flex: 2;
   margin-left: 25px;
   max-width: 60%;
   word-break: break-word;
   a {
      text-decoration: none;
   }
}

.post__title {
   margin-bottom: 10px;
   color: #000;
   font-size: 17px;
   font-weight: 600;
}

.post__company {
   margin-bottom: 5px;
   color: #444;
   font-weight: 600;
   font-size: 13px;
}

.post__location {
   display: inline-block;
   max-width: 50px;
   font-size: 13px;
   color: #777;
}

.post__date {
   position: absolute;
   right: 5px;
   bottom: 5px;
   .icon {
      font-size: 13px;
      margin-left: 3px;
      color: #e17bda;
   }
}

.detail__container {
   padding: 2rem 20px;
   .back-icon {
      font-size: 20px;
      cursor: pointer;
   }
}

.detail__header {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 25px 15px;
   margin-bottom: 10px;
   .detail__header--img {
      flex: 2;
      max-width: 200px;
   }
   .header__content {
      flex: 2;
      padding: 5px 15px;
   }
   .header__title {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 120%;
      font-weight: 600;
   }
   .header__company {
      margin-bottom: 10px;
      font-size: 15px;
   }
   .header__location {
      font-size: 14px;
      font-weight: 400;
      color: #777;
   }
}

.detail__body {
   padding: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #ccc;
   p {
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 120%;
      word-break: break-word;
      color: #333;
      &:last-child {
         margin-bottom: 0;
      }
   }
   a {
      color: #39bcbc;
      text-decoration: none;
   }
   strong {
      font-weight: 600;
   }
   em {
      font-style: italic;
   }
   h1 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
   }
   h2, h3 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
   }
   ul, ol {
      margin-bottom: 25px;
      padding-left: 25px;
   }
   li {
      margin-bottom: 15px;
      line-height: 120%;
      color: #333;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

.detail__footer {
   padding: 20px;
   .detail__footer-meta {
      padding: 20px 0;
      .icon {
         margin-right: 15px;
         font-size: 24px;
         color: #777;
      }
      a {
         font-size: 17px;
         font-weight: 200;
         vertical-align: text-top;
         text-decoration: none;
         color: #777;
         &:hover {
            color: #000;
            text-decoration: underline;
         }
      }
   }
   .additional-info {
      margin-bottom: 30px;
      font-size: 14px;
      p {
         margin-bottom: 15px;
         overflow: hidden;
         text-overflow: ellipsis;
         line-height: 135%;
      }
   }
   .footer-section {
      margin-bottom: 15px;
   }
}

.detail__footer-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
   align-items: center;
   .icon {
      margin-left: 5px;
      color: #e17bda;
   }
}

.apply--cta {
   button {
      outline: none;
      border: none;
      padding: 7px 20px;
      font-size: 18px;
      background: #4BC449;
      border-radius: 15px;
      color: #fff;
      cursor: pointer;
      &:hover {
         background: #1b8f19;
      }
   }
}
.pagination__wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 20px;
   padding: 14px 20px;
   border-radius: 3px;
   border: 1px solid #eee;
   box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.pagination__list {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
}

.paginate__item {
   cursor: pointer;
   padding: 4px 7px;
   span {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 5px;
   }
   &.active {
      color: #fff;
      background: #999;
      border-radius: 3px;
      span {
         font-weight: 200;
      }
   }
}

.placeholder__content {
   padding: 0 4rem;
   .placeholder {
      &__title {
         width: 80%;
         background: #ddd;
         height: 100px;
         margin-bottom: 20px;
      }
      &__meta {
         background: #ddd;
         width: 50%;
         height: 20px;
         margin-bottom: 10px;
      }
   }
   section {
      max-width: 500px;
      margin-bottom: 35px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

@media screen and (min-width: 767px) {
   .index__main {
      margin: 0 auto;
      max-width: 1000px;
   }
   .header__container {
      padding: 5rem 5rem 2rem;
   }
   .form__input {
      width: 400px;
   }
   .post-listing {
      padding: 0 5rem;
   }
   .pagination__wrapper {
      margin: 30px auto;
      max-width: 80%;
   }
   .detail__container {
      padding: 5rem;
   }
}

// Animations

// Fade In
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translate3d(0, -10%, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}


