.header__container {
   padding: 25px 15px;
}

// Index Header

.index-header__title {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 600;
   color: #333;
}

#search-form {
   position: relative;
   .icon {
      position: absolute;
      left: 15px;
      top: 30%;
   }
}

.form__input {
   padding: 12px 15px 12px 40px;
   outline: none;
   font-size: 15px;
   color: #333;
   background: #eee;
   border-radius: 5px;
   border: none;
   &::placeholder {
      color: #333;
   }
}