.header__container {
   padding: 25px 15px;
}

// Index Header
.index-header__title {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 600;
   color: #333;
}

#search-form {
   position: relative;
   margin-bottom: 15px;
   .icon {
      position: absolute;
      left: 12px;
      top: 30%;
   }
}

.form__input {
   padding: 10px 30px 10px 40px;
   outline: none;
   font-size: 15px;
   color: #333;
   background: #eee;
   border-radius: 5px;
   border: none;
   &::placeholder {
      color: #333;
   }
}

.filter__container {
   padding: 15px 0;
   display: flex;
   max-width: 300px;
   justify-content: space-between;
   button {
      padding: 7px 12px;
      font-size: 13px;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 15px;
      background: #afafaf;
      cursor: pointer;
   }
   .icon {
      margin-left: 3px;
   }
   .filter__all {
      min-width: 50px;
   }
   .filter__location {
      background: #9eca4d;
   }
   .filter__position {
      background: #e17bda;
   }
}

// Post Listing
.post-listing {
   padding: 0 15px;
}

.post__item {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 1px solid #eee;
   background: #fff;
   box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.25);
   &:hover {
      background: paleturquoise;
   }
}

.post__item--img {
   flex: 1;
   img {
      width: 100%;
   }
}

.post__content {
   flex: 2;
   margin-left: 25px;
}

.post__title {
   margin-bottom: 10px;
   color: #000;
   font-size: 17px;
   font-weight: 600;
}

.post__company {
   margin-bottom: 5px;
   color: #444;
   font-weight: 600;
   font-size: 13px;
}

.post__location {
   display: inline-block;
   max-width: 50px;
   font-size: 13px;
   color: #777;
}

.post__date {
   display: none;
   position: absolute;
   right: 0;
   bottom: 0;
}